.Rproj.user
.Rhistory
.RData
.Ruserdata
2021/week-6/plots
2021/week-7/plots
2021/week-8/plots
2021/week-9/plots
2021/week-10/plots
2021/week-11/plots
2021/week-11/bond
2021/week-12/plots
2021/week-12/plots-no-bg
2021/week-12/for-gof
2021/week-13/plots
